body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
  }
  
  .header, .footer {
    background-color: #1f1f1f;
    padding: 1rem;
    text-align: center;
  }
  
  .header a, .footer p {
    color: #ffffff;
  }
  
  .login-container, .signup-container, .donor-container, .receiver-container, .notification-container {
    margin: 2rem auto;
    padding: 2rem;
    max-width: 500px;
    background-color: #1f1f1f;
    border-radius: 8px;
  }
  
  .login-container input, .signup-container input, .signup-container select, .donor-container input, .donor-container button, .signup-container button {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
  }
  
  button {
    background-color: #e6ea00;
    color: #ffffff;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3700b3;
  }
  