/* Homepage.css */
.homepage {
  font-family: 'Arial', sans-serif;
  color: #333;
  margin: 0 auto;
  max-width: 1200px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}



.hero {
  text-align: center;
  background-color: #e7dede;
  border-radius: 8px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  padding: 20px;

}

.hero-image {
  border-radius: 8px;
  height: 300px;
  max-height: 900px;
}

.cta-buttons {
  margin-top: 20px;
}

.cta-button {
  text-decoration: none;
  color: white;
  background-color: #007BFF;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #0056b3;
}

.features {
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.feature {
  margin-bottom: 20px;
  text-align: center;
}

.feature:last-child {
  margin-bottom: 0;
}

.feature-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.about-us {
  background-color: #f0f0f0;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  text-align: center;
}

.about-us-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
}
.person {
  margin-top: 20px;
  text-align: center;
}

.person h3 {
  margin-bottom: 10px;
  color: #333;
}

.person a {
  color: #0077B5; /* LinkedIn blue */
  margin: 0 10px;
  transition: color 0.3s ease;
}

.person a:hover {
  color: #0056b3; /* Darker LinkedIn blue */
}
