.app-background {
  background-image: url('./components/images/back1.png'); /* Update the path as needed */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}
